/* BASE CSS */

/* HEADER BAR */

.navbar .nav > li > a {
	font-size: 18px;
	padding: 0;
	margin-top:4px;
}

.navbar .nav > li > a:hover {
	opacity: 0.8
}

.navbar .nav.pull-right{
	padding-right: 15px;
}