/* BASE CSS */

/* HEADER BAR */

.navbar .nav > li > a {
	font-size: 18px;
	padding: 0;
	margin-top:7px;
	color:white;
}

.navbar .nav > li > a.dropdown-toggle{
	margin-top: 4px
}

.navbar .nav > li > a.dropdown-toggle:hover {
	opacity: 0.8
}

.navbar .nav.pull-right{
	padding-right: 15px;
}

.nav > li > a:hover{
	background-color:inherit;
	color:#222;
}
.navbar .btn-link{
	color: white;
	text-decoration: none;
}
.navbar .btn-link:hover{
	background: #f60;
}
.navbar .navbar-brand{
	border-right: 1px solid #ddd;
}
.btn-primary:hover{
	border-color: #f60;
	background-color:#FF9805 ;
	background-image:none;
}

.searchbars{
	width: 100%;
}
.searchbars .col-lg-8{
	margin: 0 auto;
	float: none;
}
.searchbars .form-control{
	padding-left: 30px;
}
.searchbars .inputlogo{
	position: absolute;
	left: 22px;
	top: 9px;
	z-index: 2
}

.sidebar{
	position: fixed;
	margin-top: -20px;
	height: 100%;
	padding: 0;
}
.sidebar ul > li > a{
	padding: 5px 10px;
}
.sidebar > ul{
	margin-top: 20px;
	
}
.sidebar ul > li > a,
.sidebar .nav-header{
	padding: 5px 10px;	
}
.sidebar ul > li:hover:not(.nav-header),
.sidebar ul > li > a:hover{
	color: #f60;
	background: #ddd
}
.content{
	margin-left:233px;
}
.thumbs{
	list-style-type: none;
	padding:10px;
}
.thumbs > li{
	width:220px;
}
.thumbs > li > a{
	height: 110px;
	padding: 10px;
	background: white;
}
.thumbs > li > a:hover{
	text-decoration: none;
	color:#f60;
}
.thumbs .main-header{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 20px;
	z-index: 1;
}

.thumbs .sub-header{
	color: #222;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;
}