#app-flavourpages .form-group{
	padding-left: 0px;
}
#app-flavourpages .modal-c-section{
	text-align: center;
}
#app-flavourpages .modal-c-section > div{
	padding-right:10px;
}
#app-flavourpages .modal-c-section ul{
	min-width: 90px;
}
#app-flavourpages .modal-c-section li{
	padding-bottom: 5px;
}
#app-flavourpages .modal-c-section ul li a{
	height:25px;
}
#app-flavourpages .modal-c-section ul li a:hover{
	border-radius: 0px;
	opacity: 0.6;
}
#app-flavourpages .btn-colour{
	height: 15px;
	width: 15px;
	display: inline-block;
	position: relative;
	top: 3px;
	left: 4px;
}
#app-flavourpages .btn-colour-group div{
	left: 0;
}
#app-flavourpages .btn-colour-group div:hover{
	cursor: pointer;
	opacity: 0.8;
}
/*border: 1px solid green;*/