<!DOCTYPE html>
<html ng-app="flavrl" ng-controller="pageStatus">
    <head>
        <meta charset="utf-8">
        <title>{{appInfo.brand}}</title>
    
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap.theme.css" rel="stylesheet"/>
        <link href="font/font-awesome.min.css" rel="stylesheet"/>
        <link href="css/base.css" rel="stylesheet"/>
        <link ng-repeat="stylesheet in appInfo.stylesheets" ng-href="app/{{appInfo.app}}/{{stylesheet}}"  rel="stylesheet" />

    </head>
    <body>   
        <div class="navbar layer3" ng-controller="userInfo">
            <div class="navbar-inner">
                <div class="navbar-brand ng-cloak" >{{appInfo.brand}}</div>
                <button type="button" class="btn btn-link dropdown-toggle pull-left" data-toggle="dropdown" tabindex="-1">
                    <i class="icon-sort-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!--<li><a href="#/flavmarks">FlavMarks</a></li>
                    <li><a href="#/flavoursnaps">Flavoursnaps</a></li>
                    <li><a href="#/flavourzone">Flavourzone</a></li>
                   
                    -->
                    <li ng-repeat="app in userInfo.apps" ng-show="currentAppCheck(app.href)"><a href="#/{{app.href}}">{{app.name}}</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Get Apps</a></li>
                </ul>
                <div class="nav-collapse">
                    <ul class="nav pull-right ng-cloak" >
                        <li ng-show="userInfo.loggedIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                                <img title="{{userInfo.name}} ({{userInfo.email}})" ng-src="{{userInfo.headerImage}}"/>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Log Out</a></li>
                            </ul>
                        </li>
                        <li ng-show="!userInfo.loggedIn">
                            <a href="">Sign In</a>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="sidebar well col-xs-2">
            <ul class="nav">
                <li ng-repeat="header in appInfo.sidebar" ng-cloak class="{{header[0]}}"><a data-toggle="tab" href="#tab-{{replaceWhitespace(header[1])}}">{{header[1]}}</a></li>
            </ul>
        </div>
        <div class="searchbars">
            <div class="col-lg-8">
                <img class="inputlogo" src="https://plus.google.com/_/favicon?domain=google.com"/>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Google">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1">
                            <i class="icon-search"></i>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div id="views" class="content" ng-view>
         
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>

    </body>
</html> 